{% extends 'base.html.twig' %}

{% block title %}New size{% endblock %}

{% block body %}

    <main class="container-fluid">
        <div class="row">
            <form method="POST" class="col-6 mt-5">
                <h1 class="text-center">Add new size</h1>
                <label for="reference_size">Reference size</label>
                <input type="number" name="reference_size" id="reference_size" class="form-control mb-3" placeholder="185" min="0" required>
                <div id="new_field">
                    <input type="hidden" name="number_of_field" id="number_of_field">
                </div>
                <button type="button" class="btn btn-primary col-12 mt-3" id="add_new_field">Add new field</button>
                <button type="submit" class="btn btn-primary col-12 mt-3">Save</button>
            </form>
            <div class="col-6 mt-5">
                <table class="table">
                    <thead>
                        <tr>
                            <td scope="col" class="text-center">Reference Size</td>
                            <td scope="col" class="text-center">Sum</td>
                            <td scope="col" class="text-center">Average</td>
                            <td scope="col" class="text-center">Is greater than</td>
                            <td scope="col" class="text-center">Is less than</td>
                        </tr>
                    </thead>
                    <tbody>
                    {% for referenceSize in referenceSizes %}
                        <tr>
                            <td scope="col" class="text-center">{{referenceSize.referenceSize ~ " " ~ "cm"}}</td>
                            <td scope="col" class="text-center">
                            {% for sum in sums %}
                                {% if sum["id"] is same as referenceSize.id %}
                                    {{sum["sum"] ~ " " ~ "m"}}
                                {% endif %} 
                            {% endfor %}
                            </td>
                            
                            <td scope="col" class="text-center">
                                {% for avg in avgs %}
                                    {% if avg["id"] is same as referenceSize.id %}
                                        {{avg["avg"] ~ " " ~ "m"}}
                                    {% endif %} 
                                {% endfor %}
                            </td>
                            <td scope="col" class="text-center">
                                {% for size in referenceSize.sizes %}
                                    {% if size.size > referenceSize.referenceSize %}
                                        {{size.size}} <br>  
                                    {% endif %}
                                {% endfor %}
                            </td> 
                            <td scope="col" class="text-center">
                                {% for size in referenceSize.sizes %}
                                    {% if size.size < referenceSize.referenceSize %}
                                        {{size.size}} <br> 
                                    {% endif %}
                                {% endfor %}
                            </td> 
                        </tr>
                    {% endfor %}
                </tbody>
                </table>
            </div>
        </div>   
    </main>

{% endblock %}
